.card, .media {
    border-radius: 10px;
}
.media {
    width:200px !important;
    >div {
        img:first-of-type{
            border-radius: 50%;
        }  
    }
} 
.title {
    font-size: 1rem !important;
    font-weight: 900 !important;
  }
.avatar img {
    border-radius: 50%;
}
.normal {
    .badge, .countdown {
        display: none ;
    }
}